.hide {
    display: none;
}

.loader {
    position: relative;
    margin: auto;
    align-self: center;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.button {
    background-color: #383e56;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.2);
}

.input {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

#line1 {
    top: 0;
    position: absolute;
    z-index: -1;
}

#line2 {
    position: absolute;
    top: 0;
    left: 1400px;
    z-index: -1;
}

#middleLine1 {
    position: absolute;
    top: 0;
    left: 1006px;
    z-index: -1;
}

#middleLine2 {
    position: absolute;
    top: 0;
    left: 1320px;
    z-index: -1;
}


#person1 {
    height: 30%;
    position: absolute;
    bottom: 10px;
    left: 2%;
    z-index: 2;
}


#person3 {
    height: 30%;
    position: fixed;
    bottom: 90px;
    left: 40%;
    z-index: 2;
}

#person5 {
    height: 25%;
    position: fixed;
    bottom: 90px;
    left: 40%;
    z-index: 2;
}


#person2 {
    height: 15%;
    position: absolute;
    top: 190px;
    left: 1102px;
    z-index: 2;
}


#person4 {
    height: 30%;
    position: absolute;
    bottom: 70px;
    left: 120%;
    z-index: 2;
}


#person6 {
    height: 30%;
    position: absolute;
    bottom: 30px;
    left: 75%;
    z-index: 2;
}


#person7 {
    height: 30%;
    position: absolute;
    bottom: 30px;
    left: 68%;
    z-index: 2;
}


#photo1 {
    height: 380px;
    width: 380px;
    margin-left: 10px;
    margin-top: 10px;
    object-fit: cover;
}

#photo1-div {
    background-color: brown;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 180px;
    left: 100px;
    border-radius: 5px;
    display: flex;
}

#photo2 {
    height: 330px;
    width: 400px;
    margin-left: 10px;
    margin-top: 10px;
    object-fit: cover;
}

#photo2-div {
    background-color: blue;
    height: 350px;
    width: 420px;
    position: absolute;
    top: 200px;
    left: 560px;
    border-radius: 5px;
    display: flex;
}

#photo3 {
    height: 180px;
    width: 180px;
    margin-left: 10px;
    margin-top: 10px;
    object-fit: cover;
}

#photo3-div {
    background-color: yellowgreen;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50px;
    left: 1102px;
    border-radius: 5px;
    transform: rotateX(15deg);
    display: flex;
}


#photo4 {
    height: 330px;
    width: 400px;
    margin-left: 10px;
    margin-top: 10px;
    object-fit: cover;
}

#photo4-div {
    background-color: gray;
    height: 350px;
    width: 420px;
    position: absolute;
    top: 200px;
    left: 1500px;
    border-radius: 5px;
    display: flex;
}

#photo5 {
    height: 180px;
    width: 230px;
    margin-left: 10px;
    margin-top: 10px;
    object-fit: cover;
}

#photo5-div {
    background-color: rgb(50, 205, 205);
    height: 200px;
    width: 250px;
    position: absolute;
    top: 250px;
    left: 2000px;
    border-radius: 5px;
    display: flex;
}

#photo6 {
    height: 330px;
    width: 400px;
    margin-left: 10px;
    margin-top: 10px;
    object-fit: cover;
}

#photo6-div {
    background-color: rgb(205, 50, 166);
    height: 350px;
    width: 420px;
    position: absolute;
    top: 200px;
    left: 2345px;
    border-radius: 5px;
    display: flex;
}




